@import 'views/styles/shared';

.sign-in {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.sign-in__heading {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.sign-in__button {
  flex: 1 0 flex-grow;
  max-width: 300px;

  margin-bottom: 10px;
  padding: 0 35%;
  border: 1px solid #555;
  height: 48px;

  &:hover {
    cursor: pointer;
    border: 2px solid #aaa;
  }
}
