#======================================
# Directories
#--------------------------------------
build/
dist/
coverage/
node_modules/
tmp/


#======================================
# Extensions
#--------------------------------------
*.css
*.gz
*.local
*.log
*.rar
*.tar
*.zip


#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db

corber/tmp-livereload
corber/cordova/node_modules
corber/cordova/package.json
corber/cordova/package-lock.json
corber/cordova/platforms/*
!corber/cordova/platforms/.gitkeep
corber/cordova/plugins/*
!corber/cordova/plugins/.gitkeep
corber/cordova/www/*
!corber/cordova/www/.gitkeep